@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.icon-switch-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 60px;
}

.icon-switch-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: white;
  cursor: pointer;
  transition: 1s;
}

.icon-switch-btn:hover {
  border: 2px solid black;
}

.cards-view {
  list-style: none;
  margin: 0 auto;
}

.shop-card {
  width: 400px;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shop-card-title {
  font-size: 1.4rem;
  text-align: center;
}

.shop-card-color {
  font-size: 1.1rem;
  color: gray;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.shop-card-img {
  width: 200px;
}

.price-and-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.shop-card-price {
  color: red;
  font-size: 1.3rem;
}

.add-to-card-btn {
  width: 150px;
  font-size: 1.1rem;
  font-weight: bold;
  color: red;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  border: 1.5px solid red;
  cursor: pointer;
  transition: 1s;
}

.add-to-card-btn:hover {
  border: 1.5px solid black;
  color: black;
}

.price-and-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 850px) {
  .cards-view {
    max-width: 850px;
    column-count: 2;
  }
}

@media (min-width: 1250px) {
  .cards-view {
    max-width: 1250px;
    column-count: 3;
  }
}

.list-view {
  list-style: none;
}

.shop-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 10px;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
}

.shop-item:not(:last-child) {
  margin-bottom: 20px;
}

.shop-item-img {
  width: 150px;
}

.shop-item-color {
  color:  gray;
  font-size: 1.2rem;
}

.shop-item-price {
  color:  red;
  font-size: 1.2rem;
}